@page
@model PickEmLeagueWebUI.Pages.testModel
@{
    ViewData["Title"] = "test";
}

<h1>test</h1>

@Model.Users

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
