@page
@model PickEmLeagueWebUI.Pages.Users.CreateModel
@{ ViewData["Title"] = "Create"; }

<h1>Create</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserModel.FirstName" class="control-label"></label>
                <input asp-for="UserModel.FirstName" class="form-control" />
                <span asp-validation-for="UserModel.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel.LastName" class="control-label"></label>
                <input asp-for="UserModel.LastName" class="form-control" />
                <span asp-validation-for="UserModel.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel.Email" class="control-label"></label>
                <input asp-for="UserModel.Email" class="form-control" />
                <span asp-validation-for="UserModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
